In [1]:
import pandas as pd
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
streamingdata = pd.read_csv("C:/Users/ssnip/OneDrive/Data Science/Final Project/Data/All Streaming Data 1.29.23.csv")

In [3]:
streamingdata.head(5)

,platform,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,...,genre1,genre2,genre3,genre4,genre5,genre6,genre7,genre8,genre9,genre10
0,Disney,tm19438,The Princess Bride,MOVIE,"In this enchantingly cracked fairy tale, the b...",1987,PG,99,"fantasy, family, romance",['US'],...,fantasy,family,romance,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Disney,ts20711,The Simpsons,SHOW,The satiric adventures of a working-class fami...,1989,TV-14,27,"animation, comedy",['US'],...,animation,comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Disney,ts15377,America's Funniest Home Videos,SHOW,America's Funniest Home Videos is the longest-...,1989,TV-PG,49,"animation, reality, comedy",['US'],...,animation,reality,comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Disney,ts22130,Rolie Polie Olie,SHOW,Rolie Polie Olie was a children's television s...,1998,TV-Y,21,"animation, comedy, family, fantasy, scifi","['FR', 'GB', 'US', 'CA']",...,animation,comedy,family,fantasy,scifi,NaN,NaN,NaN,NaN,NaN
4,Disney,tm38852,Horton Hears a Who!,MOVIE,"One day, Horton the elephant hears a cry from ...",2008,G,86,"fantasy, family, drama, romance, comedy, music...",['US'],...,fantasy,family,drama,romance,comedy,music,animation,NaN,NaN,NaN

In [4]:
print(streamingdata.dtypes)

platform                 object
id                       object
title                    object
type                     object
description              object
release_year              int64
age_certification        object
runtime                   int64
genres                   object
production_countries     object
seasons                 float64
imdb_id                  object
imdb_score              float64
imdb_votes              float64
tmdb_popularity         float64
tmdb_score              float64
genre1                   object
genre2                   object
genre3                   object
genre4                   object
genre5                   object
genre6                   object
genre7                   object
genre8                   object
genre9                   object
genre10                  object
dtype: object

In [5]:
#recode genre1
def genre (series):
  if series == "genre1":
    return "0"
  if series == "action": 
    return "1"
  if series == "animation": 
    return "2"
  if series == "comedy":
    return "3"
  if series == "crime":
    return "4"
  if series == "documentation":
    return "5"
  if series == "drama":
    return "6"
  if series == "family":
    return "7"
  if series == "fantasy":
    return "8"
  if series == "history":
    return "9"
  if series == "horror":
    return "10"
  if series == "music":
    return "11"
  if series == "reality":
    return "12"
  if series == "romance":
    return "13"
  if series == "scifi":
    return "14"
  if series == "sport":
    return "15"
  if series == "thriller":
    return "16"
  if series == "war":
    return "17"
  if series == "western":
    return "18"
streamingdata["genre"] = streamingdata["genre1"].apply(genre)

In [82]:
streamingdata.head()

,platform,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,...,genre2,genre3,genre4,genre5,genre6,genre7,genre8,genre9,genre10,genre
0,Disney,tm19438,The Princess Bride,MOVIE,"In this enchantingly cracked fairy tale, the b...",1987,PG,99,"fantasy, family, romance",['US'],...,family,romance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
1,Disney,ts20711,The Simpsons,SHOW,The satiric adventures of a working-class fami...,1989,TV-14,27,"animation, comedy",['US'],...,comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2,Disney,ts15377,America's Funniest Home Videos,SHOW,America's Funniest Home Videos is the longest-...,1989,TV-PG,49,"animation, reality, comedy",['US'],...,reality,comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
3,Disney,ts22130,Rolie Polie Olie,SHOW,Rolie Polie Olie was a children's television s...,1998,TV-Y,21,"animation, comedy, family, fantasy, scifi","['FR', 'GB', 'US', 'CA']",...,comedy,family,fantasy,scifi,NaN,NaN,NaN,NaN,NaN,2
4,Disney,tm38852,Horton Hears a Who!,MOVIE,"One day, Horton the elephant hears a cry from ...",2008,G,86,"fantasy, family, drama, romance, comedy, music...",['US'],...,family,drama,romance,comedy,music,animation,NaN,NaN,NaN,8

In [6]:
#recode age_certification
def age (series):
  if series == "age_certification":
    return "0"
  if series == "G": 
    return "1"
  if series == "NC-17": 
    return "2"
  if series == "PG":
    return "3"
  if series == "PG-13":
    return "4"
  if series == "R":
    return "5"
  if series == "TV-14":
    return "6"
  if series == "TV-G":
    return "7"
  if series == "TV-MA":
    return "8"
  if series == "TV-PG":
    return "9"
  if series == "TV-Y":
    return "10"
  if series == "TV-Y7":
    return "11"
streamingdata["age"] = streamingdata["age_certification"].apply(age)

In [7]:
#recode type
def program_type (series):
  if series == "type":
    return "0"
  if series == "SHOW": 
    return "1"
  if series == "MOVIE": 
    return "2"
streamingdata["program_type"] = streamingdata["type"].apply(program_type)

In [8]:
print(streamingdata.dtypes)

platform                 object
id                       object
title                    object
type                     object
description              object
release_year              int64
age_certification        object
runtime                   int64
genres                   object
production_countries     object
seasons                 float64
imdb_id                  object
imdb_score              float64
imdb_votes              float64
tmdb_popularity         float64
tmdb_score              float64
genre1                   object
genre2                   object
genre3                   object
genre4                   object
genre5                   object
genre6                   object
genre7                   object
genre8                   object
genre9                   object
genre10                  object
genre                    object
age                      object
program_type             object
dtype: object

In [9]:
import numpy as np

In [19]:
streamingdata.dropna(inplace=True)

In [10]:
streamingdata.age = streamingdata.age.astype(int)
streamingdata.program_type = streamingdata.program_type.astype(int)
streamingdata.seasons = streamingdata.seasons.astype(int)
streamingdata.imdb_score = streamingdata.imdb_score.astype(int)
streamingdata.imdb_votes = streamingdata.imdb_votes.astype(int)
streamingdata.tmdb_score = streamingdata.tmdb_score.astype(int)
streamingdata.tmdb_popularity = streamingdata.tmdb_popularity.astype(int)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

In [41]:
print(streamingdata.dtypes)

platform                object
id                      object
title                   object
type                    object
description             object
release_year             int64
age_certification       object
runtime                  int64
genres                  object
production_countries    object
seasons                  int32
imdb_id                 object
imdb_score               int32
imdb_votes               int32
tmdb_popularity          int32
tmdb_score               int32
genre1                  object
genre2                  object
genre3                  object
genre4                  object
genre5                  object
genre6                  object
genre7                  object
Unnamed: 23             object
Unnamed: 24             object
Unnamed: 25             object
genre                    int32
age                      int32
program_type             int32
Platform                 int32
dtype: object

In [42]:
#recode platform
def Platform (series):
  if series == "platform":
    return "0"
  if series == "Netflix": 
    return "1"
  if series == "Disney": 
    return "2"
  if series == "Hulu":
    return "3"
  if series == "Amazon":
    return "4"
streamingdata["Platform"] = streamingdata["platform"].apply(Platform)

In [43]:
streamingdata.Platform = streamingdata.Platform.astype(int)

In [44]:
sd1= streamingdata.drop(['platform','type', 'description', 'age_certification', 'genres', 'production_countries',
                        'genre1', 'genre2', 'genre3', 'genre4', 'genre5', 'genre6', 'genre7',
                        'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25'], axis=1)

In [45]:
sd1.head()

,id,title,release_year,runtime,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,genre,age,program_type,Platform
644,ts21095,Teenage Mutant Ninja Turtles,2012,24,5,tt1877889,7,10809,48,8,2,11,1,1
8892,ts21095,Teenage Mutant Ninja Turtles,2012,24,5,tt1877889,7,10809,48,8,2,11,1,4
14377,ts21697,Gargoyles,1994,22,3,tt0108783,8,16172,20,8,14,7,1,2

In [46]:
sd1['tmdb_score'].corr(sd1['Platform'])

nan

In [49]:
sd2 = sd1.drop(['title'], axis = 1)

In [50]:
sd2.corr(method='pearson')

,release_year,runtime,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,genre,age,program_type,Platform
release_year,1.000000,1.000000,1.000000,-1.000000,-1.000000,1.000000,NaN,-1.000000,1.000000,NaN,0.188982
runtime,1.000000,1.000000,1.000000,-1.000000,-1.000000,1.000000,NaN,-1.000000,1.000000,NaN,0.188982
seasons,1.000000,1.000000,1.000000,-1.000000,-1.000000,1.000000,NaN,-1.000000,1.000000,NaN,0.188982
imdb_score,-1.000000,-1.000000,-1.000000,1.000000,1.000000,-1.000000,NaN,1.000000,-1.000000,NaN,-0.188982
imdb_votes,-1.000000,-1.000000,-1.000000,1.000000,1.000000,-1.000000,NaN,1.000000,-1.000000,NaN,-0.188982
tmdb_popularity,1.000000,1.000000,1.000000,-1.000000,-1.000000,1.000000,NaN,-1.000000,1.000000,NaN,0.188982
tmdb_score,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
genre,-1.000000,-1.000000,-1.000000,1.000000,1.000000,-1.000000,NaN,1.000000,-1.000000,NaN,-0.188982
age,1.000000,1.000000,1.000000,-1.000000,-1.000000,1.000000,NaN,-1.000000,1.000000,NaN,0.188982
program_type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Platform,0.188982,0.188982,0.188982,-0.188982,-0.188982,0.188982,NaN,-0.188982,0.188982,NaN,1.000000

In [48]:
sd1['genre'].corr(sd1['imdb_votes'])

1.0

In [51]:
sd1.isnull().sum()

id                 0
title              0
release_year       0
runtime            0
seasons            0
imdb_id            0
imdb_score         0
imdb_votes         0
tmdb_popularity    0
tmdb_score         0
genre              0
age                0
program_type       0
Platform           0
dtype: int64

In [60]:
streamingdata.release_year = streamingdata.release_year.astype(str)

In [61]:
print(streamingdata.dtypes)

platform                object
id                      object
title                   object
type                    object
description             object
release_year            object
age_certification       object
runtime                  int64
genres                  object
production_countries    object
seasons                  int32
imdb_id                 object
imdb_score               int32
imdb_votes               int32
tmdb_popularity          int32
tmdb_score               int32
genre1                  object
genre2                  object
genre3                  object
genre4                  object
genre5                  object
genre6                  object
genre7                  object
Unnamed: 23             object
Unnamed: 24             object
Unnamed: 25             object
genre                    int32
age                      int32
program_type             int32
Platform                 int32
dtype: object

In [62]:
def decade (series):
  if series == "release_year":
    return "0"
  if series <= "1969": 
    return "1"
  if series <= "1979": 
    return "2"
  if series <= "1989":
    return "3"
  if series <= "1999":
    return "4"
  if series <= "2009":
    return "5"
  if series <= "2019":
    return "6"
  if series <= "2029":
    return "7"
streamingdata["decade"] = streamingdata["release_year"].apply(decade)

In [63]:
streamingdata.head()

,platform,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,...,genre6,genre7,Unnamed: 23,Unnamed: 24,Unnamed: 25,genre,age,program_type,Platform,decade
644,Netflix,ts21095,Teenage Mutant Ninja Turtles,SHOW,The Teenage Mutant Ninja Turtles are back in a...,2012,TV-Y7,24,"['animation', 'scifi', 'action', 'family', 'th...",['US'],...,horror,fantasy,'crime','comedy','drama'],2,11,1,1,6
8892,Amazon,ts21095,Teenage Mutant Ninja Turtles,SHOW,The Teenage Mutant Ninja Turtles are back in a...,2012,TV-Y7,24,"['animation', 'scifi', 'action', 'family', 'th...",['US'],...,horror,fantasy,'crime','comedy','drama'],2,11,1,4,6
14377,Disney,ts21697,Gargoyles,SHOW,"In Scotland, 994 A.D. Goliath and his clan of ...",1994,TV-G,22,"['scifi', 'action', 'romance', 'thriller', 'an...","['JP', 'US']",...,drama,family,'fantasy','comedy','crime'],14,7,1,2,4

In [67]:
print(streamingdata.dtypes)

platform                object
id                      object
title                   object
type                    object
description             object
release_year            object
age_certification       object
runtime                  int64
genres                  object
production_countries    object
seasons                  int32
imdb_id                 object
imdb_score               int32
imdb_votes               int32
tmdb_popularity          int32
tmdb_score               int32
genre1                  object
genre2                  object
genre3                  object
genre4                  object
genre5                  object
genre6                  object
genre7                  object
Unnamed: 23             object
Unnamed: 24             object
Unnamed: 25             object
genre                    int32
age                      int32
program_type             int32
Platform                 int32
decade                  object
dtype: object

In [68]:
streamingdata.decade = streamingdata.decade.astype(int)

In [69]:
sd3 = streamingdata.drop(['platform','type', 'description', 'age_certification', 'genres', 'production_countries',
                        'genre1', 'genre2', 'genre3', 'genre4', 'genre5', 'genre6', 'genre7',
                        'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25'], axis=1)

In [70]:
sd3['decade'].corr(sd3['tmdb_popularity'])

1.0

In [71]:
sd3.corr(method='pearson')

,runtime,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,genre,age,program_type,Platform,decade
runtime,1.000000,1.000000,-1.000000,-1.000000,1.000000,NaN,-1.000000,1.000000,NaN,0.188982,1.000000
seasons,1.000000,1.000000,-1.000000,-1.000000,1.000000,NaN,-1.000000,1.000000,NaN,0.188982,1.000000
imdb_score,-1.000000,-1.000000,1.000000,1.000000,-1.000000,NaN,1.000000,-1.000000,NaN,-0.188982,-1.000000
imdb_votes,-1.000000,-1.000000,1.000000,1.000000,-1.000000,NaN,1.000000,-1.000000,NaN,-0.188982,-1.000000
tmdb_popularity,1.000000,1.000000,-1.000000,-1.000000,1.000000,NaN,-1.000000,1.000000,NaN,0.188982,1.000000
tmdb_score,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
genre,-1.000000,-1.000000,1.000000,1.000000,-1.000000,NaN,1.000000,-1.000000,NaN,-0.188982,-1.000000
age,1.000000,1.000000,-1.000000,-1.000000,1.000000,NaN,-1.000000,1.000000,NaN,0.188982,1.000000
program_type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Platform,0.188982,0.188982,-0.188982,-0.188982,0.188982,NaN,-0.188982,0.188982,NaN,1.000000,0.188982
decade,1.000000,1.000000,-1.000000,-1.000000,1.000000,NaN,-1.000000,1.000000,NaN,0.188982,1.000000

In [74]:
sd3.groupby(['decade', 'genre'])['imdb_score'].mean()

decade  genre
4       14       8.0
6       2        7.0
Name: imdb_score, dtype: float64

In [76]:
streamingdata.count()

platform                3
id                      3
title                   3
type                    3
description             3
release_year            3
age_certification       3
runtime                 3
genres                  3
production_countries    3
seasons                 3
imdb_id                 3
imdb_score              3
imdb_votes              3
tmdb_popularity         3
tmdb_score              3
genre1                  3
genre2                  3
genre3                  3
genre4                  3
genre5                  3
genre6                  3
genre7                  3
Unnamed: 23             3
Unnamed: 24             3
Unnamed: 25             3
genre                   3
age                     3
program_type            3
Platform                3
decade                  3
dtype: int64